@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden bg-background text-white font-sans;
  }
}

.chat-enter {
  opacity: 0;
  transform: translateX(100%);
}
.chat-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.chat-exit {
  opacity: 1;
  transform: translateX(0);
}
.chat-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}
